*{
  text-decoration: none;
  list-style: none;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background:#E0E0E0;
  display:flex;
  justify-content: center;
  align-items:center;
  max-width:100%;
  margin:5%;
}
.calc_container{

    display:flex;
    flex-flow:column;
    max-width:100%;
    max-height:100%;
    align-items:center;
    align-content: center;
    background:#FAFAFA;
    font-family: 'Roboto Mono', monospace;
    padding-bottom:15px;
    padding: 0 25px 25px 25px;
  }

.calc_container h1{
  text-align: center;
  padding-top:10px;
  color:#607D8B;
  }

.num_valDiv{
  display:flex;
  flex-wrap: wrap;
  width:400px;
  height:100px;
  justify-content: center;
  align-items: center;
}
#num_val{
  border-radius:5px;
  padding: 12px 0 12px 10px ;
  margin-top:0 55px;
}

#clean{
    padding:10px;
}

.flex_numbers{
  background:#E0F2F1;
  width:355px;
  height:300px;
  display:flex;
  align-self: center;
  flex-flow: column;

  margin-top:32px;

}
/*Operacoes básicas*/
.basicOp{
  display: flex;
  width:350px;
  height:15px;
  justify-content: center;
  align-items: center;
  margin-top:41px;
}
.basicOp > button{
  margin-left: 15px;
}
.btOp{
    padding:15px;
}


/*Butao numeros*/
.numbers{
  background:#FAFAFA;
  width:50px;
  height:50px;
  text-align:center;
  cursor:pointer;

}

.container1{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:5%;
  margin-bottom:5%;
}
.container1 > button {
  margin-left:3%;
}
.container2{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:5%;
}
.container2 > button{
  margin-left:3%;
}
.container3{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container3 > button {
  margin-left:3%;
}

.container4{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  padding: auto;
  margin: auto;
}
